$primary-color: #4CAF50 /* define primary colors */
$secondary-color: #FFA500
$main-color: $primary-color
body
	padding-top: 10px
	font: 400 15px/1.8 Lato, sans-serif
h3, h4 
	margin: 10px 0 30px 0
	letter-spacing: 10px     
	font-size: 20px
	color: #111
.container 
	padding: 5px 120px
	margin-bottom: 0px
#myCarousel
	margin: 40px 0
.person 
	border: 10px solid transparent
	margin-bottom: 25px
	width: 80%
button.green 
	margin-top: 30px
.person:hover
	border-color: #f1f1f1
.carousel-inner img 
	-webkit-filter: grayscale(90%)
	filter: grayscale(90%) /* make all photos black and white */ 
	width: 100% /* Set width to 100% */
	margin: auto
.carousel-caption h3 
	color: #fff !important
@media (max-width: 600px) 
	.carousel-caption 
	display: none /* Hide the carousel text when the screen is less than 600 pixels wide */
.btn 
	padding: 10px 20px
	color: #f1f1f1
	border-radius: 0
	transition: .2s
.btn:hover, .btn:focus 
	border: 1px solid #333
	background-color: #fff
	color: #000
.modal-header, h4, .close 
	background-color: #333
	color: #fff !important
	text-align: center
	font-size: 30px
.modal-header, .modal-body 
	padding: 40px 50px
.nav-tabs li a 
	color: #777
.navbar 
	margin-bottom: 0
	border: 0
	font-size: 22px !important
	letter-spacing: 4px    
.navPhone 
	font-size: 20px
	color: black !important
footer    
	color: #f5f5f5
	padding: 32px
	background-color: #4CAF50
footer a 
	color: #f5f5f5
footer a:hover 
	color: #777
	text-decoration: none
.form-control 
	border-radius: 0
textarea 
	resize: none
/* Toggle Switch */
.dai-Switch > input[type="checkbox"]
	display: none
.dai-Switch > label
	cursor: pointer
	height: 0px
	position: fixed 
	margin: 10px
	width: 40px
	top: 15px
	right: 5px
	left: 95%  
.dai-Switch > label::before 
	background: rgb(0, 0, 0)
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5)
	border-radius: 8px
	content: ''
	height: 16px
	margin-top: -8px
	position: absolute
	opacity: 0.3
	transition: all 0.4s ease-in-out
	width: 40px
.dai-Switch > label::after 
	background: rgb(255, 255, 255)
	border-radius: 16px
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3)
	content: ''
	height: 24px
	left: -4px
	margin-top: -8px
	position: absolute
	top: -4px
	transition: all 0.3s ease-in-out
	width: 24px
.dai-Switch > input[type="checkbox"]:checked + label::before 
	background: inherit
	opacity: 0.5
.dai-Switch > input[type="checkbox"]:checked + label::after 
	background: inherit
	left: 20px
.divUnderLabel
	cursor: pointer
	height: 52px
	position: fixed 
	width: 100%
	top: 0
	background-color: #4CAF50
	z-index: -2
#idSend 
	display: none
.green 
	background-color: $main-color /* green colors */
@mixin color() 
	$main-color: $secondary-color
	background-color: $main-color
.dai-Switch > input[type="checkbox"]:checked ~ .green 
	@include color() 
.dai-Switch > input[type="checkbox"]:checked ~ .fade button 
	@include color() 
.dai-Switch > input[type="checkbox"]:checked ~ #contact button
	@include color()     
   